doctype html
html
  //- Head
  include ../includes/head.jade
  link(href='/css/style.css', rel='stylesheet')
  //- Body
  body
    //- include ../includes/browserupgrade.jade
    //- Content
    block content

  //- Footer
  //- Footer Scripts
  include ../includes/footer-scripts.jade  