/*!
 * Clouds
 */

/* Viewport */
#viewport {
    -webkit-perspective: 1000; 
    -moz-perspective: 1000px; 
    -o-perspective: 1000; 
    perspective: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #000;
    z-index: 0;
}

/* World */
#world {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -256px;
    margin-left: -356px;
    height: 212px;
    width: 712px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    pointer-events: none;
    z-index: 1;
}
#world div {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;  
    -o-transform-style: preserve-3d;    
    transform-style: preserve-3d;
}

/* Cloud Base */
.cloudBase {
    border: none;
    position: absolute;
    top: 256px;
    left: 256px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
}

/* Cloud Layer */
.cloudLayer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 256px;
    height: 256px;
    margin-top: -128px;
    margin-left: -128px;
    -webkit-transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
}