extends ../layouts/default

block content
    
    //- Main Content
    div(id='main-content')
        include ../includes/masthead.jade
        include ../includes/form-command.jade

    //- Viewport: Clouds
    div(id='viewport')
        div(id='world')